$color: #b7823f;
$dark-color: #f7f2ebe1;
$white-color: #fff;
$lg-dark-color: #887f7f;
$col-bg-color: #212614;
$max-width: 980px;
$h1: 3rem;
$h2: 1.5rem;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 1.125rem;
	color: $lg-dark-color;
	background-color: $dark-color;
	// line-height: 1.5rem;
}

.container {
	background-color: $white-color;
	max-width: $max-width;
	margin: 0 auto;
	width: 90%;

	h1 {
		font-size: $h1;
		text-align: center;
	}
	span {
		color: $color;
	}

	img {
		padding: 0.5rem 0;
		display: block;
		max-width: 100%;
		margin: 0 auto;
		border-radius: 25px;
	}

	.columns {
		display: flex;
		margin: 1.2rem 0rem;
		justify-content: space-between;
		// padding: 0rem 0.2rem;

		.col {
			padding: 0rem 0.2rem;

			p {
				line-height: 1.5rem;
			}
		}

		h2 {
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
			font-size: $h2;
			color: #212614;
		}

		& > *:last-child {
			background-color: $col-bg-color;
			padding: 1.5rem;
			text-align: center;
			align-content: center;
            max-width: 19.25rem;

			& > p {
				color: #ffffff;
			}
		}
	}
}
